.spinner {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000 ;
  border: 12px solid rgba(0, 0, 0, 0.1);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-left-color: #f2894e;
  border-right-color:  #f2894e;
  margin-left: -25px;
  animation: spin 1s ease infinite;
}
.subspinner {

  z-index: 100000 ;
  border: 12px solid rgba(0, 0, 0, 0.1);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top-color: #f2894e;
  border-bottom-color:  #f2894e;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}









