.Section4 {
    display: flex;
    flex-direction: column;
    height: 54vh;
    //border: 1px solid #39879d;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin: 0% 3% 4%;
    padding: 5%;
    justify-content: center;
    text-align: center;

    &_connectionInformation {
        display: flex;
        flex-direction: row;
        margin: 1% auto;
        width: 25% !important;
        justify-content: space-between;

    }

    &_cachedIncon {
        margin: 1% auto;
    }

    &_actionZone {
        margin: 1% auto;
        &_ccipButton {
            color: white !important;
            background-color: #39879d;
            border: 1px solid #39879d !important;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            border-radius: 20px;
            width: 190px !important;
            padding: 0.5%;
            cursor: pointer;
        }
    }
    &_stake {
        max-width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 2% auto;

        &_capital {
            border-color: blue !important;
            background-color: #9fa8da;
        }
        button {
            color: white !important;
            background-color: #39879d;
            border: 1px solid #39879d !important;
            border-radius: 15px;
            width: 210px !important;
            margin: 10% auto !important;
            cursor: pointer;
        }
    }
    &_actionOverstake {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;

        button {
            color: white !important;
            background-color: #39879d;
            border: 1px solid #39879d !important;
            border-radius: 15px;
            width: 210px !important;
            margin: 0px !important;
            padding: 0px !important;
            margin-left: 20px !important;
            cursor: pointer;
        }
    }


}