.Section2 {
    display: flex;
    flex-direction: column;
    height: 60vh;
    // border: 1px solid #39879d;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin: 0% 3% 4%;
    padding: 5%;
    justify-content: center;
    text-align: center;
    &_subNavBar {
        button {
            color: white !important;
            background-color: #39879d;
            border: 1px solid #39879d !important;
            border-radius: 15px;
            width: 210px !important;
            margin: 0px !important;
            padding: 0px !important;
            margin-left: 20px !important;
            cursor: pointer;
        }
    }
    &_stake {
        &_process {
            max-width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 2% auto;
            &_capital {
                border-color: blue !important;
                // background-color: #9fa8da;
            }
            button {
                color: white !important;
                background-color: #39879d;
                border: 1px solid #39879d !important;
                border-radius: 15px;
                width: 210px !important;

                margin: 10% auto !important;
                cursor: pointer;
            }
        }
    }

    &_listStake {
        margin: 5% auto;

        &_currentList {
            &_head {
                display: flex;
                flex-direction: row;

                &_title {
                    color: #39879d;
                    font-weight: bolder;
                    padding: 1%;
                    width: 130px !important;
                }
            }

            &_currentStake {
                display: flex;
                flex-direction: row;

                &_information {
                    padding: 1%;
                    width: 130px !important;
                }

                &_action {
                    padding: 1%;
                    width: 210px !important;
                }

                button {
                    color: white !important;
                    background-color: #39879d;
                    border: 1px solid #39879d !important;
                    border-radius: 15px;
                    width: 190px !important;
                    cursor: pointer;
                }
            }
        }
    }

}